<div id="myModal" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h4 class="modal-title"><%= @container.name %> Logs</h4>

            </div>

            <div class="modal-body">
           <% data = show_logs(@container.c_id) %>

           <pre><%= data %></pre>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              
            </div>

        </div>

    </div>

</div>