
<%#= render :partial => 'container_info' %>


    <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Launch Demo Modal</a>

 
<%= render :partial => 'cinfo' %>
<!-- Modal HTML -->

