<div class="jumbotron">
  <h1>Docker Server Information</h1>
 <p>No of containers: <%#= @info["Containers"] %></br>
  <p>No of Images: <%#= @info["Images"] %></br>
   <p>Installed platform: <%#= @info["OperatingSystem"] %></br>
    <p>Hostname: <%#= @info["Name"] %></br></br></br>
  
  <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Edit Host Info</a>
     
     <%= render :partial => 'edit_host' %>


</div>