<div class="jumbotron">
  <h1>Docker Server Information</h1>
 <p>No of containers: <%= @info["Containers"] %></br>
  <p>No of Images: <%= @info["Images"] %></br>
   <p>Installed platform: <%= @info["OperatingSystem"] %></br>
    <p>Hostname: <%= @info["Name"] %></br>

</div>